# Docker registries
portus:
  url:        "{{ vault_concourse_credentials[concourse_name].portus.url }}"
  username:   "{{ vault_concourse_credentials[concourse_name].portus.username }}"
  email:      "{{ vault_concourse_credentials[concourse_name].portus.email }}"
  password:   "{{ vault_concourse_credentials[concourse_name].portus.password }}"

dockerhub:
  url:        'registry.hub.docker.com'

bitbucket:
  url:        "{{ vault_concourse_credentials[concourse_name].bitbucket.url }}"
  username:   "{{ vault_concourse_credentials[concourse_name].bitbucket.username }}"
  email:      "{{ vault_concourse_credentials[concourse_name].bitbucket.email }}"

ansible_vault_keys:
  datastudio: "{{ vault_concourse_credentials[concourse_name].ansible_vault_keys.datastudio }}"
