# Docker registries
portus:
  url:        "{{ vault_concourse_credentials[instance].portus.url }}"
  username:   "{{ vault_concourse_credentials[instance].portus.username }}"
  email:      "{{ vault_concourse_credentials[instance].portus.email }}"
  password:   "{{ vault_concourse_credentials[instance].portus.password }}"

dockerhub:
  url:        'registry.hub.docker.com'

bitbucket:
  url:        "{{ vault_concourse_credentials[instance].bitbucket.url }}"
  username:   "{{ vault_concourse_credentials[instance].bitbucket.username }}"
  email:      "{{ vault_concourse_credentials[instance].bitbucket.email }}"

ansible_vault_keys:
  datastudio: "{{ vault_concourse_credentials[instance].ansible_vault_keys.datastudio }}"
